.page-banner{
    position: relative;
    padding: 225px 0 0;
    min-height: 425px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.page-banner:after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(20, 33, 43, .6);
}
.page-content {
    position: relative;
    z-index: 3;
    margin-left: -40px;
}

.page-content h2{
    text-align: center;
    font-size: 46px;
    line-height: 52px;
    color: #fff;
    font-weight: 500;
    letter-spacing: -2.16px;
    margin: 0;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: "Poppins", Sans-serif;
}

.contact-page-section{
    position: relative;
    padding: 65px 0;
    background-color: #cacfec;
}

.contact-page-section .sub-title-2 span{
    font-size: 43px;
    color: #000000;
}

.contact-page-section .sec-title{
    font-size: 16px;
    color: #000000;
    line-height: 55px;
}

.contact-page-form{
    position: relative;
    background: #fff;
    padding: 50px;
    -webkit-box-shadow: 0px 10px 20px 0px #95b7d0;
    -moz-box-shadow:    0px 10px 20px 0px #95b7d0;
    box-shadow:         0px 10px 20px 0px #95b7d0;
}
.contact-box{
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
    background: #2f3c7e;
    padding: 30px 20px;
    padding-left: 120px;
    -webkit-box-shadow: 0px 10px 20px 0px #f5f5f5;
    -moz-box-shadow:    0px 10px 20px 0px #f5f5f5;
    box-shadow:         0px 10px 20px 0px #95b7d0;
}
.contact-box i{
    width: 60px;
    height: 60px;
    background: #2f3c7e;
    color: #fff;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    left: 30px;
    top: 30px;
}
.contact-box h3{
    font-size: 20px;
    line-height: .8;
    letter-spacing: -.48px;
    margin-bottom: 15px;
    font-weight: 600;
    color: white;
}
.contact-box p{
    margin: 0;
    color: white;
    font-size: 15px;
}

.contact-box a{
    margin: 0;
    color: white;
    font-size: 15px;
}

.contact-form{
    position: relative;
    background: #fff;
    margin-left: 40px;
    padding: 60px;
    text-align: center;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(149, 183, 208, 0.2);
    -moz-box-shadow:    0px 10px 20px 0px rgba(149, 183, 208, 0.2);
    box-shadow:         0px 10px 20px 0px rgba(149, 183, 208, 0.2);
}
.contact-form:after{
    width: 85px;
    height: 85px;
    background: #14212b;
    border-radius: 50%;
    animation: 2s infinite;
    animation-delay: .2s;
    position: absolute;
    content: '';
    right: 40px;
    bottom: -42px;
    z-index: -1;
}
.contact-form:before{
    width: 85px;
    height: 85px;
    background: #113998;
    border-radius: 50%;
    position: absolute;
    content: '';
    animation: 3s infinite;
    animation-delay: .3s;
    left: 40px;
    top: -42px;
    z-index: -1;
}
.input-form{
    position: relative;
    margin-bottom: 20px;
}
.input-form textarea,
.input-form input{
    width: 100%;
    border: none;
    outline: none;
    height: 70px;
    background: #f7fbff;
    font-size: 16px;
    line-height: 70px;
    color: #14212b;
    padding: 0 40px;
}
.input-form textarea::-moz-placeholder,
.input-form input::-moz-placeholder{
   color: #14212b;
   opacity: 1; 
}
.input-form textarea::-ms-input-placeholder,
.input-form input::-ms-input-placeholder{
   color: #14212b;
   opacity: 1; 
}
.input-form textarea::-webkit-input-placeholder,
.input-form input::-webkit-input-placeholder{
   color: #14212b;
   opacity: 1; 
}
.input-form textarea{
    resize: none;
    line-height: 30px;
    height: 150px;
    padding-top: 19px;
}
.input-form i{
    font-size: 16px;
    line-height: 70px;
    position: absolute;
    right: 40px;
    top: 0;
    color: #14212b;
    opacity: .3;
}

.contactbtn {
    background-color: white;
    color: black;
    border-radius: 10px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    height: 55px;
    font-size: 1rem;
    font-weight: 700;
    margin-right: 26px;
    border: 3px solid #2f3c7e;
}

.contactbtn:hover{
    background-color: #113998;
}

.location-map {
    
    /*width: 50%;
    padding: 20px;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    flex: 0.8;
    box-sizing: border-box;
    margin-top: 1.0rem;
    align-items: center;
}
