.philosophy-section{
    position: relative;
    padding: 85px 0;
    background-image: url('../img/philosophy.png');
    background-position: -120px;
    background-repeat: no-repeat;
    background-size: 55% auto;
}

.philosophy-thumb{
   position: relative;
}

.philosophy-content{
    position: relative;
    padding-left: 0;
    padding-top: 15px;
    margin-right: 100px;
}

.philosophy-content .sub-title {
    text-transform: uppercase;
}

.philosophy-content > p {
    font-family: "Poppins", Sans-serif;
    line-height: 33px;
    font-weight: 400;
    font-size: 14px;
}

@media (max-width: 767px){
    .philosophy-section {
        margin: 0;
        padding: 0;
    }

    .philosophy-content > p {
        margin-left: 90px;
    }

    .sub-title {
        margin: 20px;
        padding: 20px;
    }
}